name: action test

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          git remote update
      - name: preview uml
        uses: ./
        with:
          from: origin/${{ github.base_ref }}
          to: origin/${{ github.head_ref }}
          github-aouth: ${{ secrets.Token }}
#      - name: Setup tmate session
#        uses: mxschmitt/action-tmate@v1
